.user-profile {
  word-wrap: break-word;
  max-width: 30rem;
  padding-bottom: 10rem;
}

#search-bar {
  margin-bottom: 2rem;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  :root {
    padding: 0;
  }

  .user-profile {
    font-size: small;
    padding-bottom: 5rem;
    max-width: 18rem;
  }
}