
.landing-container {
    max-width: 40rem;
  }


.text-welcome {
  color: rgb(152, 231, 149);
}
  
  .user-state-actions {
    margin-top: 3rem;
  }
  
  .link-button {
    width: 10rem;
    padding: 1rem 2rem;
    background-color: rgb(19, 19, 19);
    border-radius: 4rem;
  }
  
  .link-home {
  
    font-size: larger;
    font-weight: bolder;
  
    width: 10rem;
    padding: 1rem 2rem;
  
  }
  