.intro-text {
  font-size: large
}


.landing-container {
    max-width: 40rem;
    margin: 0 2rem;
  }


.text-welcome {
  color: rgb(152, 231, 149);
}
  
  .user-state-actions {
    margin-top: 3rem;
  }
  
  .link-button {
    width: 10rem;
    padding: 1rem 2rem;
    background-color: rgb(19, 19, 19);
    border-radius: 4rem;
  }
  
  .link-home {
  
    font-size: larger;
    font-weight: bolder;
  
    width: 10rem;
    padding: 1rem 2rem;
  
  }

  @media (max-width: 600px) {

    body{
      top: 0;
      height: 8vh;
      margin: 0;
      padding: 0
    
    }

    .intro-text {
      font-size: small
    }

    .logo {
      margin-top: 2rem;
      padding: 0;
    }
  }

  @media (prefers-color-scheme: light) {
    .text-welcome {
      color: rgb(77, 163, 74);
    }

    .link-button {
      color:azure;
      background-color: rgb(147, 176, 187);
    }
    
  }