.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: #333;
    border-bottom: 1px solid #000;
    justify-content: space-between;
}

.logo-icon {
    width: 65px;
}

.link-logo {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: large;
    color: rgb(153, 172, 238);
  }

  .link-logo > * {
    margin-right: 1rem;
  }
  
  